<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>
<body ng-app="inSwitchApp">
<div ng-controller="AppCtrl" layout="column" style="height:100%;" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">List Of Switches</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-list ng-controller="ListCtrl" ng-cloak>
                    <md-list-item ng-click="navigateTo(switchButton.id)" ng-repeat="switchButton in switches">
                        <p> {[{ switchButton.name }]} </p>
                        <md-divider></md-divider>
                    </md-list-item>

                </md-list>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding md-swipe-right="toggleLeft()">
            <div layout="column" layout-fill layout-align="top center" ng-show="showSwitchInfo">
                <h1>{[{currentSwitch.name}]}</h1>

                <form method="post" action="{{ url_for('updateSwitchState') }}">
                    <div layout="column" ng-cloak class="md-inline-form" style="width: 100%">
                        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                            <div layout-gt-xs="row">
                                <md-input-container flex-gt-xs>
                                    <label>Switch Name</label>
                                    <input name="name" ng-model="currentSwitch.name">
                                </md-input-container>
                                <md-input-container flex-gt-xs>
                                    <label>Switch Unique Identifier</label>
                                    <input name="id" ng-model="currentSwitch.id">
                                </md-input-container>
                                <md-input-container flex-gt-xs>
                                    <label>Switch State</label>
                                    <md-select name="state" ng-model="currentSwitch.state">
                                        <md-option value="ON" ng-selected="stateSwitchBoolean">
                                            ON
                                        </md-option>
                                        <md-option value="OFF" ng-selected="!stateSwtichBoolean">
                                            OFF
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-content>
                        <md-content layout-padding>
                            <div>
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>Location Of Switch</label>
                                        <input name="location" ng-model="currentSwitch.location">
                                    </md-input-container>
                                </div>
                                <md-input-container class="md-block">
                                    <label>Notes</label>
                                    <textarea name="notes" ng-model="currentSwitch.notes" columns="1" md-maxlength="150"
                                              rows="5"></textarea>
                                </md-input-container>
                                <md-input-container flex-gt-xs>
                                    <label>Timestamp of Last Update</label>
                                    <input ng-model="currentSwitch.timestamp" disabled>
                                </md-input-container>
                            </div>
                            <input type="submit" style="width: 99%" align="center" class="md-raised md-primary">
                            </input>
                        </md-content>
                    </div>
                </form>
            </div>


            <div layout="column" layout-fill layout-align="top center" ng-hide="showSwitchInfo">
                <h1>Slide Right and Pick a Switch</h1>
            </div>
            <div flex></div>
        </md-content>
    </section>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>